<a href="{{ profile|entity_url }}" class="user-search-result-image-wrapper">
  {% if not profile.field_person_image.isEmpty() %}
    {{ content.field_person_image }}
  {% else %}
    <span>{{ 'Profile picture not uploaded'|t }}</span>
  {% endif %}
</a>

<div class="user-search-result-content-wrapper">
  <div>
    {% if content.field_person_name %}
      <h3 class="user-search-result-name">{{ content.field_person_name }}</h3>
    {% endif %}

    {# @TODO Link to search with this kommune as filter #}
    <div class="user-search-result-kommune">{{ profile.field_person_kommune.entity.label }}</div>
    {# {{ content.field_kommune }} #}
  </div>

  {{ content.field_person_funktion_erfaring }}

  <a href="{{ profile|entity_url }}" class="button user-search-result-profile-button">{{ 'View Profile'|t }}</a>
</div>
