<div class="user-search-result">

  <div class="user-search-result-image-wrapper">
    {% if not user.field_profile_picture.isEmpty() %}
          <a href="{{ path('entity.user.canonical', {user: user.id}) }}">{{ content.field_profile_picture }}</a>
    {% else %}
      <p>{{ 'Profile picture not uploaded'|t }}</p>
    {% endif %}
  </div>

  <div class="user-search-result-content-wrapper">
    {% if user.field_navn.value %}
      <h3 class="user-search-result-name">{{ user.field_navn.value }}</h3>
    {% endif %}
    {{ content.field_kommune }}
    {{ content.field_funktion }}
    <a href="{{ path('entity.user.canonical', {user: user.id}) }}" class="button user-search-result-profile-button">View Profile</a>
  </div>

</div>
